<!--
	作者：guishende@126.com
	时间：2016-11-16
	描述：完成发送邮件完成，结果页，本页需要自己去完成
-->
{% extends "password/password_base.html" %}
{% block title %}密码找回{% endblock %}

{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				邮件发送成功
			</h3>
			<h5 class="text-center">如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。</h5>			
			<h5 class="text-center">如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹。</h5>							
		</div>
	</div>
</div>

{% endblock %}
